body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
header{
    width: 100%;
    height: 60px;
    background-color: rgb(182, 181, 181);
    color: #fff;
    position: fixed;
    z-index: 100;
}
 nav img{
    width: 30px;
    height: auto;
}
a{
    cursor: pointer;
    text-decoration: none;
}
a button {
    background-color: rgb(7, 7, 182);
    color: #fff;
    border: none;
    width:80px;
    height: 30px;
    border-radius: 1em;
}
a button:hover{
    background-color: blue;
    transition: 1s;
}
.the-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
}
.hero-section{
    padding: 20px 10%;
    background-color: aliceblue;
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 60px;
}
.hero h2{
    max-width: 700px;
}
.hero img{
    width:250px;
    height: auto;
    rotate: 25deg;
}
.feature-1, .feature-2, .feature-3, .about-section{
  position: relative;
  left: 25%;
  text-align: center;
}
p{
    position: inherit;
    left: 25%;
    max-width: 300px;
}
.code{
    background-color: #c1bebe;
    width:auto;
    height:auto;
}
.about{
    background-color: aliceblue;
}